<template>
  <div>
    <div class="row formInput">
      <div class="col-md-12">
        <label>CEP* </label>
        <input
          type="text"
          v-model="adress.cep"
          v-on:keyup.enter="getAdress"
          @blur="getAdress"
          class="form-control"
          required
        />
      </div>
    </div>

    <div class="row formInput">
      <div class="col-md-6">
        <label>Endereço* </label>
        <input
          type="text"
          v-bind:value="adress.endereco"
          class="form-control"
          required
        />
      </div>
      <div class="col-md-6">
        <label>Numero* </label>
        <input type="text" class="form-control" required />
      </div>
    </div>

    <div class="row formInput">
      <div class="col-md-6">
        <label>Complemento </label>
        <input type="text" class="form-control" />
      </div>
      <div class="col-md-6">
        <label>Bairro* </label>
        <input
          type="text"
          v-bind:value="adress.bairro"
          class="form-control"
          required
        />
      </div>
    </div>

    <div class="row formInput">
      <div class="col-md-6">
        <label>Cidade* </label>
        <input
          type="text"
          v-bind:value="adress.cidade"
          class="form-control"
          required
        />
      </div>
      <div class="col-md-6">
        <label>Estado* </label>
        <input
          type="text"
          v-bind:value="adress.estado"
          class="form-control"
          required
        />
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      adress: {
        cep: '',
        bairro: '',
        estado: '',
        cidade: '',
        endereco: '',
      },
    }
  },
  methods: {
    async getAdress() {
      if (this.adress.cep.length >= 8 && this.adress.cep != '') {
        let response = await axios.get(
          `https://viacep.com.br/ws/${this.adress.cep}/json/`
        )
        const { bairro, uf, localidade, logradouro } = response.data
        this.adress.bairro = bairro
        this.adress.estado = uf
        this.adress.cidade = localidade
        this.adress.endereco = logradouro
      }
    },
  },
}
</script>

<style lang="scss" scoped>
input:focus {
  border: 1px solid var(--color-second);
  box-shadow: none;
}
</style>
