<template>
  <div>
    <div class="row formInput">
      <div class="col-md-12">
        <label>Nome* </label>
        <input type="text" class="form-control" required />
      </div>
    </div>
    <div class="row formInput">
      <div class="col-md-12">
        <label>Email* </label>
        <input type="email" class="form-control" required />
      </div>
    </div>
    <div class="row formInput">
      <div class="col-md-12">
        <label>CPF* </label>
        <input type="text" class="form-control" required />
      </div>
    </div>
    <div class="row formInput">
      <div class="col-md-6">
        <label>Data de Nascimento* </label>
        <input type="text" class="form-control" required />
      </div>
      <div class="col-md-6">
        <label>Telefone* </label>
        <input type="text" class="form-control" required />
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
input:focus {
  border: 1px solid var(--color-second);
  box-shadow: none;
}
</style>
