<template>
  <div class="cart">
    <TableProducts />
  </div>
</template>

<script>
import TableProducts from '../components/TableProducts.vue'

export default {
  components: {
    TableProducts,
  },
}
</script>

<style lang="scss" scoped></style>
