<template>
  <div class="container">
    <form @submit="onSubmit">
      <div class="row">
        <div class="col-md-6">
          <PersonalData />
        </div>
        <div class="col-md-6">
          <Adress />
        </div>
      </div>
      <Button
        type="submit"
        name="Concluir Compra"
        style="background: #8e36b7; color: #fff"
      />
    </form>
    <Modal v-if="showModal" @close="showModal = false" />
  </div>
</template>

<script>
import PersonalData from '../components/user/PersonalData.vue'
import Adress from '../components/user/Adress.vue'
import Button from '../components/Button.vue'
import Modal from '../components/Modal.vue'
import { mapMutations } from 'vuex';

export default {
  data(){
    return{
      showModal: false
    }
  },
  components: {
    PersonalData,
    Adress,
    Button,
    Modal,
  },
  computed: {
    ...mapMutations(['appearModal']),
  },
  methods: {
    onSubmit(e) {
      e.preventDefault();
      this.showModal = true;
    },
  },
}
</script>

<style lang="scss" scoped></style>
