<template>
  <div class="home">
    <Slider />

    <section class="container sectionSearch">
      <Input />
    </section>
    <section class="container mt-3 mb-3">
      <div class="row">
        <div class="col" v-for="product in filteredProducts" v-bind:key="product.id">
          <ProductCard
            :id="product.id"
            :brand="product.name"
            :title="product.category"
            :description="product.description"
            :url="product.imageUrl"
            :price="product.price"
          />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Slider from '../components/Slider.vue'
import ProductCard from '../components/ProductCard.vue'
import Input from '../components/Input.vue'
import { mapGetters } from 'vuex';
import axios from 'axios'

export default {
  components: {
    Slider,
    ProductCard,
    Input,
  },
  data() {
    return {
      products: [],
    }
  },

  async created() {
    const response = await axios.get(
      'https://raw.githubusercontent.com/owInteractive/desafio-frontend-2020/master/produtos.json'
    )
    this.products = response.data
  },
  computed: {
    ...mapGetters(['filtered']),
    filteredProducts: function(){
      return this.products.filter(product => {
        return product.name.toLowerCase().match(this.filtered.toLowerCase())
      })
    }

  }
}
</script>

<style lang="scss" scoped>
.home {
  .sectionSearch {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .row {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-bottom: 170px;

  @media (max-width: 700px) {
     grid-template-columns: 100%;
  }

    .col {
      height: fit-content;
    }
  }
}
</style>
