<template>
  <div class="main">
    <Header />
    <router-view />
    <Footer />
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'
import './styles/global.css'

export default {
  components: {
    Header,
    Footer,
  },
}
</script>
