@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700;900&display=swap');

/* Main color */
:root {
  --color-main: #ffffff;
  --color-second: #8e36b7;
  --color-third: #bbbbbb;
  --color-four: #666666;
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

#app {
  height: 100%;
}

#app .main {
  min-height: 100vh;
  position: relative;
}

#app .main footer {
  position: absolute;
  bottom: 0;
}

.formInput {
  margin-top: 30px;
  margin-bottom: 30px;
}

.table-responsive {
    overflow-x: hidden !important;
    width: 100%;
}

label {
  margin-bottom: 10px;
  color: var(--color-four);
  font-size: 19px;
}

.cart .container{
  padding-bottom: 150px;
}

.effect {
  animation: fadeIn 2s;
}

.slideUp {
  animation: fadeslideUp 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeslideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
