<template>
  <button>{{ name }}</button>
</template>

<script>
export default {
  props: {
    name: String,
  }
}
</script>

<style lang="scss" scoped>
button {
  padding: 15px;
  font-size: 19px;
  width: 250px;
  border: none;

  &:focus {
    border: 1px solid var(--color-second);
  }
}
</style>
