<template>
  <footer>
    <span class="footer-title">MktPlace</span>
  </footer>
</template>

<script>
export default {}
</script>

<style lang="scss">
footer {
  height: 95px;
  width: 100%;
  background: var(--color-third);
  display: flex;
  align-items: center;
  justify-content: center;

  .footer-title {
    font-size: 40px;
    color: var(--color-four);
    font-weight: bold;
  }
}
</style>
