<template>
  <header>
    <nav class="container">
      <div class="col-md-6">
        <router-link to="/" class="logoLink">
          <span class="mkt effect">Mkt<span class="place">Place</span></span>
        </router-link>
      </div>
      <div class="col-md-6 text-end">
        <span class="produtos">Produtos</span>
        <router-link to="/cart" class="linkCart">
          <img
            class="cart"
            src="../assets/images/cart.png"
            alt="shopping-cart"
          />
          <span class="qtdy">{{ products.length }}</span>
        </router-link>
      </div>
    </nav>
  </header>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['products']),
  },
}
</script>

<style lang="scss">
header {
  height: 127px;
  background: var(--color-main);
  width: 100%;
  border-bottom: 1px solid var(--color-third);
  box-shadow: 0px 0px 10px 0px;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .linkCart {
      position: relative;

      .cart {
        width: 25px;
      }

      .qtdy {
        font-size: 13px;
        position: absolute;
        top: 13px;
        margin-left: 0px;
        background: red;
        padding: 2px 7px;
        border-radius: 50%;
        color: var(--color-main);
        font-weight: bold;
      }
    }

    .produtos {
      margin-right: 20px;
      color: var(--color-third);
    }

    .logoLink {
      font-size: 40px;
      text-decoration: none;
    }

    .mkt {
      color: var(--color-third);
      text-decoration: none;
      font-weight: bold;
    }

    .place {
      color: var(--color-second);
    }
  }
}
</style>
