<template>
  <div class="container filter">
    <div class="row">
      <div class="col-md-4 colTitle">
        <h4 class="title">Encontre seu produto</h4>
      </div>
      <div class="col-md-8 colSearch">
        <input
          type="text"
          class="form-control"
          placeholder="Pesquisar..."
          aria-label="Pesquisar..."
          aria-describedby="basic-addon1"
          v-model="filterd"
          @change="getName()"
        />
        <div>
          <button class="btnSearch" @click="getName()">
            <img
              class="search"
              src="../assets/images/magnifying-glass.svg"
              alt="search"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      filterd: ''
    }
  },
  methods:{
    getName(){
     this.$store.commit('getName', this.filterd) 
    }
  }
}
</script>

<style lang="scss">
.filter {
  width: 100%;
  padding: 20px;
  background: var(--color-main);
  box-shadow: 0px 3px 14px 1px var(--color-third);

  .colTitle {
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 20px;
    color: var(--color-third);
    font-weight: bold;
  }

  .colSearch {
    display: flex;

    input:focus {
      box-shadow: 0 0 0 1px var(--color-second);
    }

    .btnSearch {
      background: var(--color-second);
      border: none;
      padding: 7px;
      border-radius: 4px;

      .search {
        width: 30px;
        filter: invert(1);
      }
    }
  }
}
</style>
