<template>
  <input
    type="text"
    class="form-control"
    placeholder="Pesquisar..."
    aria-label="Pesquisar..."
  />
</template>

<script>
export default {}
</script>

<style lang="scss" scoped></style>
