<template>
  <div>
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
            <div class="modal-header text-right">
              <slot name="header">
                <button class="modal-default-button" @click="$emit('close')">
                  X
                </button>
              </slot>
            </div>

            <div class="modal-body">
              <slot name="body">
                <div class="wrapper">
                  <img
                    class="success"
                    src="../assets/images/success.png"
                    alt="success"
                  />
                  <span class="title"
                    >Seu cadastro foi realizado com sucesso</span
                  >
                  <router-link to="/" class="backHome">
                    Voltar pra home
                  </router-link>
                </div>
              </slot>
            </div>

            <div class="modal-footer"></div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 700px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}


.modal-header{
  justify-content: flex-end !important;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 3rem;

    .success {
      width: 20%;
    }

    .title {
      font-size: 30px;
      font-weight: bold;
      color: var(--color-third);
    }

    .backHome {
      text-decoration: none;
      color: var(--color-second);
    }
  }
}

.modal-default-button {
  background: none;
  border: 0;
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
