<template>
  <div class="card mt-4" style="width: 18rem">
    <div class="img">
      <img :src="url" class="card-img-top" alt="Image" />
    </div>
    <div class="card-body">
      <span class="category mb-2 slideUp">{{ title }}</span>
      <h5 class="card-title slideUp">{{ brand }}</h5>
      <p class="card-text description">
        {{ description.slice(0, 45) }}
      </p>

      <p class="price">R$ {{ price }}</p>
    </div>
    <div class="card-footer p-0">
      <a class="btn btn-primary add-cart" @click="addToCart()"
        >Adicionar ao carrinho</a
      >
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  props: {
    id: Number,
    title: String,
    brand: String,
    description: String,
    url: String,
    price: Number,
  },
  methods: {
    ...mapMutations(['addCart']),
    addToCart() {
      this.addCart({
        id: this.id,
        title: this.title,
        brand: this.brand,
        description: this.description,
        price: this.price,
        qtdy: 1,
      })
    },
  },
}
</script>

<style lang="scss">
.card {
  height: 565px;

  .category {
    color: var(--color-second);
    font-weight: bold;
  }

  span {
    font-size: 18px;
  }

  .card-title {
    font-weight: bold;
    font-size: 20px;
  }

  .img {
    text-align: center;

    .card-img-top {
      width: 250px;
    }
  }

  .description {
    color: var(--color-third);
  }

  .price {
    font-size: 23px;
    font-weight: bold;
  }

  .add-cart {
    width: 100%;
    height: 100%;
    font-weight: bold;
    background: var(--color-main);
    border: none;
    color: var(--color-second);
    text-transform: uppercase;

    &:hover {
      transition: all 0.2s ease-in-out;
      background: var(--color-second);
      color: var(--color-main);
    }
  }

  description .add-cart {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: transparent;
    background: transparent;
    color: var(--color-third);

    &:hover {
      background: var(--color-second);
    }
  }
}
</style>
