<template>
  <div>
    <agile class="slider" :options="options">
      <div class="slide">
        <div class="container wrapper effect">
          <h1>Notebooks <h4>as melhores ofertas</h4></h1>
        </div>
      </div>
      <div class="slide">
        <div class="container wrapper effect">
          <h1>Notebooks <h4> as melhores ofertas</h4></h1>
        </div>
      </div>
    </agile>
  </div>
</template>

<script>
import { VueAgile } from 'vue-agile'

export default {
  components: {
    agile: VueAgile,
  },

  data() {
    return {
      options: {
        navButtons: false,
        dots: false,
        slidesToShow: 1,
      },
    }
  },
}
</script>

<style lang="scss">
.slide {
  color: #fff;
  display: flex;
  height: 445px;
  background: linear-gradient(45deg, var(--color-second), #8e36b7b5);

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    h1{
      font-size: 75px;
      font-weight: bold;
    }
  }
}
</style>
