<template>
  <div class="container">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Produtos</th>
            <th>Quantidade</th>
            <th>Valor Unitário</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="product in products" :key="product.id">
            <td class="cart-info rowDescription">
              <img
                class="garbage"
                src="../assets/images/garbage.svg"
                alt="garbage"
              />
              <div>
                <span class="title">{{ product.title }}</span
                ><br />
                <span>{{ product.brand }}</span>
              </div>
            </td>
            <td class="cart-info">
              <div class="wrapperIncrement">
                <span
                  class="buttonsInDe actions"
                  @click="decrementCart(product)"
                  >-</span
                >
                <span class="buttonsInDe">{{ product.qtdy }}</span>
                <span
                  class="buttonsInDe actions"
                  @click="incrementCart(product)"
                  >+</span
                >
              </div>
            </td>
            <td class="cart-info">
              <b>R${{ product.price }} </b> á vista<br />ou 10x de
              {{ product.price / 10 }}
            </td>
            <td class="cart-info">
              <b>R${{ calculateTotalItem(product.price, product.qtdy) }} </b>
              á vista<br />ou 10x de
              {{
                calculateInstallments(
                  calculateTotalItem(product.price, product.qtdy)
                )
              }}
            </td>
          </tr>
          <tr class="infoProd">
            <td></td>
            <td></td>
            <td>
              <span class="titleTotal">Total a vista</span>
            </td>
            <td>
              <span class="valuePrice">R${{ sumTotal }}</span>
            </td>
          </tr>
          <tr class="infoProd">
            <td></td>
            <td></td>
            <td>
              <span class="titleTotal">Total a vista</span>
            </td>
            <td>
              <span class="titleTotal"
                >em até <b> 10x R${{ (sumTotal / 10).toFixed(2) }}</b>
                <br />
                <span>(Total R${{ sumTotal }})</span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="rowDescription wrapperFooter">
        <div class="cart-info rowDescription">
          <img
            @click="cleanCart"
            class="garbage"
            src="../assets/images/garbage.svg"
            alt="garbage"
          />
          <span>Limpar Carrinho</span>
        </div>
        <div class="buttons">
          <router-link to="/">
            <Button name="Continuar Comprando" style="background: #bbb" />
          </router-link>
          <router-link to="/checkout">
            <Button
              :class="isEmptyCart() ? 'disabled' : ' '"
              name="Concluir Compra"
              style="background: #8e36b7; color: #fff"
              :disabled="isEmptyCart()"
            />
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Button from './Button.vue'
import { mapGetters, mapMutations } from 'vuex'

export default {
  data() {
    return {
      prices: [],
    }
  },
  components: {
    Button,
  },
  computed: {
    ...mapGetters(['products', 'sumTotal']),
    backgroundButton() {
      return 'background: #000;'
    },
  },
  methods: {
    ...mapMutations(['decrementFromCart', 'addCart', 'cleanCart']),
    decrementCart(product) {
      this.decrementFromCart(product)
    },
    incrementCart(product) {
      this.addCart(product)
    },
    removeAllFromCart() {
      this.cleanCart()
    },
    isEmptyCart() {
      return this.products == 0
    },
    calculateTotalItem(amount, qtdy) {
      let price = parseFloat(amount)
      let quantity = price * qtdy
      quantity = quantity.toFixed(2)
      return quantity
    },
    calculateInstallments(amount) {
      let installments = parseFloat(amount) / 10
      return installments.toFixed(2)
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;

  .wrapperFooter {
    margin: 29px;
    justify-content: space-between;
    width: 100%;

    .buttons {
      display: flex;
      gap: 20px;

      .disabled {
        opacity: 0.8;
      }
    }
  }

  .infoProd {
    border: transparent;

    .valuePrice {
      color: var(--color-second);
      font-weight: bold;
      font-size: 26px;
    }

    .titleTotal {
      font-size: 20px;
      font-weight: bold;
      color: var(--color-four);
      margin-right: 20px;
    }
  }

  .cart-info {
    padding: 20px;
  }

  .rowDescription {
    display: flex;
    align-items: center;
    gap: 19px;

    .title {
      color: var(--color-second);
      font-weight: bold;
      font-size: 18px;
    }

    .garbage {
      &:hover {
        transition: all 0.2s;
        cursor: pointer;
      }

      width: 13px;
    }
  }
  .wrapperIncrement {
    display: flex;
    align-items: center;

    .buttonsInDe {
      border: 1px solid;
      padding: 0px 10px;
      font-size: 20px;
    }

    .actions {
      cursor: pointer;

      &:hover {
        transition: all 0.2s ease-in-out;
        background: var(--color-second);
        border: 1p solid var(--color-second);
        color: var(--color-main);
        padding: 1px 10px;
      }
    }
  }
}
</style>
